.menu {
    padding: 0;
}

.menu_item {
    padding: 6px 20px;
    list-style-type: none;
    transition: 200ms;
}

.menu_item:hover {
    background-color: darken(lightblue, 20%);
}

.menu_item a {
    color: lighten(red, 20%);
    text-decoration: none;
}
.menu_item a:hover {
    color: lighten(red, 10%);
    text-decoration: underline;
}

.menu_item a:active {
    color: red;
}

.menu_item_active {
    background-color: darken(lightblue, 30%);
}

.menu_item_active a{
    color: red;
}
